<div [ngStyle]="{ 'background-color': config.fondo, 'padding': '20px' }">
    <h1 [ngStyle]="{ 'color': config.color }">{{ title }} app is running!</h1>
    <p>{{ descripcion }}</p>

    <!-- <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar Videojuegos</button>
    <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Mostrar Videojuegos</button>

    <videojuego *ngIf="mostrar_videojuegos"></videojuego> -->

    <zapatillas></zapatillas>

    <!-- <cursos></cursos> -->
</div>